<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add
      name="OffersDb"
      providerName="System.Data.SqlClient"
      connectionString="Server=dd9668d2-688b-4ab3-99cb-a24c014cf3ae.sqlserver.sequelizer.com;Database=dbdd9668d2688b4ab399cba24c014cf3ae;User ID=aabkplyucyyzwwqr;Password=xLgbozQuSbengWtKr3GxWXGknM5634K4Ub7sw3QHtRPKwUQrLvM8tq3Hd5VHCTAW;"/>
  </connectionStrings>
</configuration>